h1{
    text-align: center;
    color: rgba(2, 66, 0, 0.507);
}

#image-gallery{
    padding-left: 10%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: auto auto auto auto;

}

h3{
    text-align: center;
    color: rgba(2, 66, 0, 0.507);
}

figure{
    text-align: center;
}

figcaption{
    text-align: center;
    font-style:italic;
    font-size: .75em;
    color: rgba(2, 66, 0, 0.507)
}
#OP{
    border-style: solid;
    border-color: rgba(2, 66, 0, 0.507);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

}

#COC{
    border-style: solid;
    border-color: rgba(2, 66, 0, 0.507);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#DDD{
    border-style: solid;
    border-color: rgba(2, 66, 0, 0.507);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

a{
    margin-top: 10%;
    float: right;
    text-decoration: none;
    color: rgba(2, 66, 0, 0.507);

}

a:hover{
    text-decoration: underline;
    background-color: rgba(132, 230, 129, 0.507);

}